body {
    background-color: lightskyblue;
}

.title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}

.subtitle {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-left: 10px;
}

.titlebox {
    background-color: white;
    margin: 20px;
    padding: 2px;
}

.contentbox {
    background-color: white;
    margin: 20px;
    padding: 5px;
}

.listitem, .listitemend {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 10px;
}

.listitem {
    padding-bottom: 8px;
}

.listitemend {
    padding-bottom: 0px;
}

a {
    color: black;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: auto;
}

.text {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.home {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
}